In [3]:
print(a_list)

[1, 2, 3]

In [2]:
a_list = [1, 2, 3]
an_integer = 5
a_string = 'Hi'

In [4]:
a_list = ['hi', 'fdsfsa', 5]

In [5]:
print(a_list)

['hi', 'fdsfsa', 5]

In [6]:
a_list = [['hi', 'fdsfsa', 5], ['hi', 'fdsfsa', 5], ['hi', 'fdsfsa', 5]]

In [7]:
#print(a_list)

In [8]:
another_lost = [[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [9]:
another_lost[0][0]

1

In [10]:
another_lost[1][2]

3

In [11]:
# Here an example of how to compile a dictionary
# a_dictionary = {'key_1': value_1, 
#                 'key_2': value_2, 
#                 'key_3': value_3}


a_dictionary = {'key_1': a_list, 
                'key_2': an_integer, 
                'key_3': a_string}

In [12]:
print(a_dictionary)

{'key_1': [['hi', 'fdsfsa', 5], ['hi', 'fdsfsa', 5], ['hi', 'fdsfsa', 5]], 'key_2': 5, 'key_3': 'Hi'}

In [13]:
a_bad_list = [a_list, an_integer, a_string]

In [14]:
a_bad_list

[[['hi', 'fdsfsa', 5], ['hi', 'fdsfsa', 5], ['hi', 'fdsfsa', 5]], 5, 'Hi']

In [15]:
the_point_of_dicts = {'banana' : 5, 'cherries': 4}

In [16]:
the_point_of_dicts

{'banana': 5, 'cherries': 4}

In [17]:
a_fruty_list = [5, 4]

In [18]:
a_fruty_list

[5, 4]

In [20]:
a_list = [1, 2, 3]
an_integer = 5
a_string = 'Hi'

a_bad_list = [a_list,
              an_integer,
              a_string]

a_bad_list

[[1, 2, 3], 5, 'Hi']

In [31]:
a_bad_list[2][1] == a_bad_list[2]

False

In [32]:
a_bad_list[2][:] == a_bad_list[2]

True

In [33]:
a_bad_list[2][1] in a_bad_list[2]

True

In [34]:
'i' in 'hi'

True

In [38]:
a_variable = 2

In [39]:
a_variable == 1

False

In [40]:
a_variable

2

In [41]:
5 > 4

True

In [42]:
5 < 8

True

In [46]:
5 >= 8, 5 <= 9, 8 == 8, 5 == 4, 'lol' in 'ololo'

(False, True, True, False, True)

In [51]:
'now' in 'Is time for a break'

False

In [60]:
if True:
    print('hi')
else:
    print(' it was false')

hi

In [58]:
a_variable = 1
if a_variable == 1:
    print('hi')
else: 
    print('you are soooo wrong')

hi

In [61]:
a_variable == 1

True

In [69]:
a_variable = 2
if a_variable == 1:
    print('I am cool')
    print('I am cool')
    print('I am cool')
    print('I am cool')
elif a_variable == 2:
    print('I am great')
else: 
    print('I am even better that xxx')

print('and I am sleeping')

I am great
and I am sleeping

In [70]:
## A LOT OF ATTENTION HERE

In [71]:
#for/while

In [79]:
counting = 0
for i in 1, 2, 3, 7:
    print('Hi there, I saw you', i, ' times')
    counting = counting + 1
print('I made', counting, 'iterations')

Hi there, I saw you 1  times
Hi there, I saw you 2  times
Hi there, I saw you 3  times
Hi there, I saw you 7  times
I made 4 iterations

In [85]:
a_list = 1, 2, 3, 7, 7, 523,423, 234 ,234 ,234 ,234 ,234 ,234 ,234, '34', 'tetrtr', 1234234 , [23, 333]
counting = 0

for i in a_list:
    print('Hi there, I saw you', i, ' times')
    counting = counting + 1
print('I made', counting, 'iterations')

Hi there, I saw you 1  times
Hi there, I saw you 2  times
Hi there, I saw you 3  times
Hi there, I saw you 7  times
Hi there, I saw you 7  times
Hi there, I saw you 523  times
Hi there, I saw you 423  times
Hi there, I saw you 234  times
Hi there, I saw you 234  times
Hi there, I saw you 234  times
Hi there, I saw you 234  times
Hi there, I saw you 234  times
Hi there, I saw you 234  times
Hi there, I saw you 234  times
Hi there, I saw you 34  times
Hi there, I saw you tetrtr  times
Hi there, I saw you 1234234  times
Hi there, I saw you [23, 333]  times
I made 18 iterations

In [84]:
counting = 0

counting = counting + 1
counting = counting + 1
counting = counting + 1
counting = counting + 1
counting = counting + 1
counting = counting + 1
counting = counting + 1
counting = counting + 1
counting = counting + 1
counting = counting + 1
counting = counting + 1
counting = counting + 1
counting = counting + 1
print(counting)

7

In [89]:
counting = 0
multiply = 1
for i in 1, 2, 3, 7:
    print('Hi there, I saw you', i, ' times')
    counting = counting + 1 
    multiply = multiply + 234*counting
print('I made', counting, 'iterations, and your result is ', multiply)

Hi there, I saw you 1  times
Hi there, I saw you 2  times
Hi there, I saw you 3  times
Hi there, I saw you 7  times
I made 4 iterations, and your result is  2341

In [91]:
counting = 0
multiply = 1
print('Hi there, I saw you', 1, ' times')
counting = counting + 1    # 1 = 0 + 1
multiply = multiply + 234*counting  # 235 = 1 + 234*1

print('Hi there, I saw you', 2, ' times')
counting = counting + 1    # 2 = 1 + 1
multiply = multiply + 234*counting   # 703 = 235 + 234*2

print('Hi there, I saw you', 3, ' times')
counting = counting + 1 
multiply = multiply + 234*counting

print('Hi there, I saw you', 7, ' times')
counting = counting + 1 
multiply = multiply + 234*counting
print('I made', counting, 'iterations, and your result is ', multiply)

Hi there, I saw you 1  times
Hi there, I saw you 2  times
Hi there, I saw you 3  times
Hi there, I saw you 7  times
I made 4 iterations, and your result is  2341

### 28.1.2025 ==== We start here


# Nicer way to note stuff 
## Nicer way to note stuff
## Nicer way to note stuff
### Nicer way to note stuff
* key
* I use #

In [21]:
maybe = 8

another_list = [1, 'gi', 9, 'nooooo', maybe]  # list

a_list = (1, 'gi', 9, 'nooooo', maybe)  # Tuple

a_dictionary = {}

In [22]:
a_list.append('0')

AttributeError: 'tuple' object has no attribute 'append'

In [23]:
a_list

(1, 'gi', 9, 'nooooo', 8)

In [24]:
another_list.append('1')

In [25]:
another_list

[1, 'gi', 9, 'nooooo', 8, '1']

In [46]:
keep_track_index = []
keep_track_operation = []
for i in [1, 2, 4, 5, 123]:
    a = i**3
    keep_track_index.append(i)
    keep_track_operation.append(a)
    print('the iterator i:', i, '  the list of previous iterator:', keep_track_index, '  the results:', keep_track_operation)
    input()

the iterator i: 1   the list of previous iterator: [1]   the results: [1]

the iterator i: 2   the list of previous iterator: [1, 2]   the results: [1, 8]

the iterator i: 4   the list of previous iterator: [1, 2, 4]   the results: [1, 8, 64]

the iterator i: 5   the list of previous iterator: [1, 2, 4, 5]   the results: [1, 8, 64, 125]

the iterator i: 123   the list of previous iterator: [1, 2, 4, 5, 123]   the results: [1, 8, 64, 125, 1860867]

In [47]:
a_list = ['hi', 'good', 'morning', 'bio511']

## Exercise: 
* 1. Print the second letter of each world of the list and save it in another list
* 2. Print 'GREAT!' if in the a_list there is 'bio510' entry.

In [53]:
a_list = [1, 2, 'Hola', 'neverever']

for i in a_list:
    print(i)

1
2
Hola
neverever

In [58]:
# a_dictionary = {'key_1': value_1,
#                 'key_2': value_2,
#                 'key_3': value_3,
#                 'key_4': value_4}

a_fruity_dic = {'banana': 4,
                'oranges': 3,
                'apples': 141}

a_fuity_list = [4, 3, 141]

for key, value in a_fruity_dic.items():
    print(key, ': ', value)

banana :  4
oranges :  3
apples :  141

In [57]:
a_fruity_dic['bananas']

KeyError: 'bananas'